<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>

    <springProperty scope="context" name="lokiPushUrl" source="loki.push.url" defaultValue=""/>

    <springProfile name="local">
        <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
            <encoder>
                <pattern>%d{HH:mm:ss.SSS} %-5level [%thread] %logger{36} - %msg %mdc%n</pattern>
            </encoder>
        </appender>
    </springProfile>

    <springProfile name="docker">
        <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
            <encoder class="net.logstash.logback.encoder.LogstashEncoder">
                <includeMdcKeyName>traceId</includeMdcKeyName>
                <includeMdcKeyName>spanId</includeMdcKeyName>
                <customFields>{"app":"foodme-backend"}</customFields>
            </encoder>
        </appender>

        <if condition='!property("lokiPushUrl").isEmpty()'>
            <then>
                <appender name="LOKI" class="com.github.loki4j.logback.Loki4jAppender">
                    <!-- Flush at least every 5s so logs show up promptly (default is 60s) -->
                    <batchTimeoutMs>5000</batchTimeoutMs>
                    <http>
                        <url>${lokiPushUrl}</url>
                    </http>
                    <format>
                        <label>
                            <pattern>app=foodme-backend</pattern>
                        </label>
                        <message class="com.github.loki4j.logback.JsonLayout"/>
                    </format>
                </appender>
            </then>
        </if>
    </springProfile>

    <appender name="SENTRY" class="io.sentry.logback.SentryAppender">
        <options>
            <dsn>${SENTRY_DSN:-}</dsn>
        </options>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>ERROR</level>
        </filter>
    </appender>

    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="SENTRY"/>
        <if condition='!property("lokiPushUrl").isEmpty()'>
            <then>
                <appender-ref ref="LOKI"/>
            </then>
        </if>
    </root>
</configuration>
